<br >
<a [routerLink]="['/nfts']"> Go back</a>
<hr>
<div *ngIf="isLoading">Loading...</div>

<div class="inline" *ngIf="!isLoading">
    <h1>{{nft?.name}}</h1>
    <img src="{{nft?.imageUrl}}">
    <div>{{nft?.id}}</div>
    <div>{{nft?.description}}</div>
    <div>{{nft?.createdAt}}</div>
</div>

<button (click)="deleteNft(nft?.id)">Delete Nft</button><br><br>
<!--


<div>
    <label>Update options: </label><br>
    <span class="radio-button">
      <button type="radio" [(ngModel)]="updateMethod" > PUT</button>
    </span>
    <span class="radio-button">
      <button type="radio" [(ngModel)]="updateMethod"> PATCH</button>
    </span>
</div>
  -->
  