<h1>Add new NFT</h1>
  <div *ngIf="isLoading">Loading</div>
  <div *ngIf="!isLoading">
    <form #form="ngForm" (ngSubmit)="submitForm()">
        <div>
            <label for="name">Name</label><br>
            <input type="text" #name="ngModel" name="name" [(ngModel)]="nft.name" id="name" placeholder="Name of NFT" required>
            <div *ngIf="!name.valid" class="error">The name field is not valid</div>
        </div>

        <div>
            <label for="description">Description</label><br>
            <input type="text" #description="ngModel" [(ngModel)]="nft.description" id="description" name="description" placeholder="Description of NFT" required >
            <div *ngIf="!description.valid" class="error">The description field is not valid</div>
        </div>

        <div>
            <label for="creationDate">Creation date</label><br>
            <input type="date" #creationDate="ngModel" [(ngModel)]="nft.creationDate" id="creationDate" name="creationDate" placeholder="Creation date" required>
            <div *ngIf="!creationDate.valid" class="error">The creation date field is not valid</div>
        </div>

        <div>
            <label for="imageUrl">Image</label><br>
            <input type="file" name="imageUrl" #imageUrlInput id="imageUrl"  required>
        </div>
        <div>
            <input [disabled]="!form.valid" type="submit" />
        </div>
         <!-- Validation error message -->
    <div *ngIf="showValidationError" class="error">Please fill out all required fields correctly!</div>
    </form>
   
  </div>
