<div class="body">
  <div class="container">
    <button class="btn btn-primary" [routerLink]="['/']">Home</button>
    <button class="btn btn-primary" [routerLink]="['/nfts/add']">Add an nft</button>  
    <button class="btn btn-secondary"> <a [routerLink]="['/nfts']">List</a> </button>

    <hr />
   <div>
    <router-outlet></router-outlet>
   </div>
  </div>
</div>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1></h1>
  <header>
    <nav></nav>
  </header>
</body>
</html>


