<div class="container">
        <h1 >List of  NFTs !</h1> <!--To get them i have to go through a service or component or both-->
 
    <div class="container"  *ngIf="isLoading">Loading...</div>
        <table *ngIf="!isLoading">
            <thead>
                <!--<th>Id</th>
                <th>Description</th>
                <th>Creation date</th>-->
                <th>Name</th>
                <th>Image</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr *ngFor=" let nft of nfts  ">
                    <!--<td>{{nft.id}}</td>
                    <td>{{nft.description}}</td>
                    <td>{{nft.creationDate}} </td>-->
                    <td>{{nft.name}}</td>
                    <td>
                        <img [src]="nft.imageUrl" alt="NFT Image" width="180" height="100">
                    </td>
                    <td><button [routerLink]="['/nfts/',nft.id]">See nft {{nft.name}}</button></td>
                </tr>
            </tbody>
        </table>
</div>