/* You can add global styles to this file, and also import other style files */
/*.body{
    background-color: rgb(12, 12, 13);
    height: 900px;
    margin:auto;

}
.text{
    color: white;
}

.container{
    text-align: center;
}*/

.error{
color: red;}

